<% if current_user %>
  <% if current_user.admin %>
    <div class="All-Messages">
      <div class="Messages-List">
        <h1>List of All Messages</h1>
        <% if @messages.any? %>
          <div class="row">

          <h3>Message Log : </h3>
          <hr>
          <div class="current-month-event">
            <div class="col-md-2"><p class="text-center">To</p></div>
            <div class="col-md-2"><p class="text-center">To</p></div>
            <div class="col-md-7"><p class="text-center">Message</p></div>
            <div class="col-md-1"><p class="text-center">Delete Message</p></div>

          </div>
          <hr>
          <% @messages.each do |message| %>
              <div class="current-month-event">
                <div class="col-md-2"><p class="text-center"><%= message.to %></p></div>
                <div class="col-md-2"><p class="text-center"><%= Contact.find(message.contact_id).name %></p></div>
                <div class="col-md-7"><p class="text-center"><%= message.body %></p></div>
                <div class="col-md-1"><p class="text-center"> <%= link_to "Delete", message_path(message),
                  :data => {:confirm => "Are you sure you want to delete this record?",
                    :method => "delete"} %></p></div>
              </div>
              <hr>
          <% end %>
          <hr>
          <br>
        </div>
        <% else %>
        <p>There are no messages at the moment.</p>
        <% end %>
      </div>
      <hr>
      <hr>
      <div class="All-Links">
          <%= link_to "Send a Message", new_message_path %>
      </div>
    </div>
  <% end %>
<% end %>
